@model SMTProdPlanModel
@* <form asp-action="EditManpower" asp-controller="PE" method="post"> *@
 <form id="fSearch" method="post">
    <div class="modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">@* " modal-lg"> *@
        <div class="modal-content">
            <div class="modal-header table-success">
                <h5 class="modal-title">
                    <i class="bi bi-search"></i>
                    Search
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body bg-warning bg-opacity-25 ">
                <div class="row g-2">

                    <div class="col-4">@TranslationService.Trans("FinishedFrom")</div>
                    <div class="col-8">
                        <div class="input-group" >
                            <input class="form-control" type="text" id="startDate" placeholder="Start Date" asp-for="StartDt" />
                            <span class="input-group-text"><i class="bi bi-calendar-week-fill"></i></span>
                        </div>
                    </div>

                    <div class="col-4">@TranslationService.Trans("FinishedTo")</div>
                    <div class="col-8">
                        <div class="input-group">
                            <input class="form-control" type="text" id="endDate" placeholder="End Date" asp-for="EndDt" />
                            <span class="input-group-text"><i class="bi bi-calendar-week-fill"></i></span>
                        </div>
                    </div>

                    <div class="col-4">@TranslationService.Trans("Lotno")</div>
                    <div class="col-8"><input type="text" class="form-control" asp-for="Lotno" required /></div>

                    <div class="col-4">@TranslationService.Trans("Model")</div>
                    <div class="col-8"><input type="text" class="form-control" asp-for="Model" /></div>

                    <div class="col-4">@TranslationService.Trans("PCBNo")</div>
                    <div class="col-8"><input type="text" class="form-control" asp-for="PCBNo" /></div>

                 @* <div class="col-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" asp-for="IsPrepare">
                            <label class="form-check-label" for="p1">Prepare</label>
                        </div>
                    </div> 
                *@
                </div>                
            </div>
            <div class="modal-footer">
                <a id="btnSearch" class="btn btn-sm btn-primary">
                    <i class="bi bi-search"></i>
                    Search
                </a>
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                    <i class="fa-regular fa-circle-xmark"></i>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
</form>
