@using MESWebDev.Models.VM
@using MESWebDev.Services
@inject ITranslationService TranslationService

@model MasterVM

@{
    var languageCode = Context.Session.GetString("LanguageCode") ?? "vi";
    ViewData["Title"] = TranslationService.GetTranslation("CreateTranslation", languageCode);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section ContentHeader {
    @await Html.PartialAsync("_Breadcrumb", ViewBag.Breadcrumbs as List<MESWebDev.DTO.BreadcrumbItemDto>)
}

<div class="app-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@TranslationService.GetTranslation("AddNewTranslation", languageCode)</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create" method="post">
                            @Html.AntiForgeryToken()
                            <div class="form-group mb-3">
                                <label asp-for="Dictionary.Key">@TranslationService.GetTranslation("Key", languageCode)</label>
                                <input asp-for="Dictionary.Key" class="form-control" />
                                <span asp-validation-for="Dictionary.Key" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Dictionary.LangId">@TranslationService.GetTranslation("Language", languageCode)</label>
                                <select asp-for="Dictionary.LangId" class="form-select" asp-items="Model.LanguageSL"></select>
                                <span asp-validation-for="Dictionary.LangId" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Dictionary.Value">@TranslationService.GetTranslation("Value", languageCode)</label>
                                <input asp-for="Dictionary.Value" class="form-control" />
                                <span asp-validation-for="Dictionary.Value" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm">@TranslationService.GetTranslation("Create", languageCode)</button>
                            <a href="@Url.Action("Index", "Translation")" class="btn btn-secondary btn-sm">@TranslationService.GetTranslation("Cancel", languageCode)</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}