
@model MasterVM

@{
    var languageCode = Context.Session.GetString("LanguageCode") ?? "vi";
    ViewData["Title"] = TranslationService.GetTranslation("EditTranslation", languageCode);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section ContentHeader {
    @await Html.PartialAsync("_Breadcrumb", ViewBag.Breadcrumbs as List<MESWebDev.DTO.BreadcrumbItemDto>)
}

<div class="app-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title fw-bold">
                            <i class="bi bi-pencil me-2"></i>
                            @TranslationService.GetTranslation("EditTranslation", languageCode)</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" asp-for="@Model.Dictionary.Id" />
                            <div class="form-group">
                                <label asp-for="@Model.Dictionary.Key">@TranslationService.GetTranslation("Key", languageCode)</label>
                                <input asp-for="@Model.Dictionary.Key" class="form-control" />
                                <span asp-validation-for="@Model.Dictionary.Key" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Dictionary.LangId">@TranslationService.GetTranslation("Language", languageCode)</label>
                                <select asp-for="@Model.Dictionary.LangId" class="form-select" asp-items="Model.LanguageSL"></select>
                                <span asp-validation-for="@Model.Dictionary.LangId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Dictionary.Value">@TranslationService.GetTranslation("Value", languageCode)</label>
                                <input asp-for="@Model.Dictionary.Value" class="form-control" />
                                <span asp-validation-for="@Model.Dictionary.Value" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">@TranslationService.GetTranslation("Save", languageCode)</button>
                            <a href="@Url.Action("Index", "Translation")" class="btn btn-secondary">@TranslationService.GetTranslation("Cancel", languageCode)</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}