@using MESWebDev.Models.Setting
@model SMTLineModel
@{
    int i = 0;
}
<form id="fAdd" method="post">
    <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header table-success">
                    <h5 class="modal-title">
                        <i class="bi bi-plus-circle"></i>
                        @TranslationService.Trans("Add")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-success bg-opacity-25">

                    <div class="row g-2">
                        <div class="row g-2">
                            <div class="col-4">@TranslationService.Trans("LineCode")</div>
                            <div class="col-8"><input type="text" class="form-control" asp-for="@Model.LineCode" required /></div>

                            <div class="col-4">@TranslationService.Trans("LineName")</div>
                            <div class="col-8"><input type="text" class="form-control" asp-for="@Model.LineName" /></div>

                            <div class="col-4">@TranslationService.Trans("DisplayColor")</div>
                            @* <div class="col-8"><input type="text" class="form-control" asp-for="@Model.DisplayColor" /></div> *@
                            <div class="col-8">
                                <div class="input-group" style="position:relative;">
                                    <input id="colorInput1" type="text" readonly class="form-control" asp-for="DisplayColor">
                                    <a class="btn btn-outline-secondary" id="colorButton1">🎨</a>
                                    <div id="colorPopup1" class="col ms-2"></div>
                                </div>
                            </div>

                            <div class="col-4">@TranslationService.Trans("DisplayOther")</div>
                            <div class="col-8"><input type="number" class="form-control" asp-for="@Model.DisplayOrder" /></div>

                            <div class="col-4">@TranslationService.Trans("Remark")</div>
                            <div class="col-8"><input type="text" class="form-control" asp-for="@Model.Remark" /></div>

                            <div class="col-4">@TranslationService.Trans("isActive")</div>
                            <div class="col-8"><input type="checkbox" class="form-check-input p-2" asp-for="@Model.IsActive" /></div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a id="btnAdd" onclick="Add()" class="btn btn-sm btn-info">
                        <i class="bi bi-floppy"></i>
                        @TranslationService.Trans("save")
                    </a>
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                        <i class="fa-regular fa-circle-xmark"></i>
                        @TranslationService.Trans("close")
                    </button>
                </div>
        </div>
    </div>
</div>
</form>
