@model PEViewModel

@if (Model.TimeStudyNewStepDtlList != null && Model.TimeStudyNewStepDtlList.Count > 0)
{
    for (int j = 0; j < Model.TimeStudyNewStepDtlList.Count; j++)
    {
        <tr>
            <td class="d-flex justify-content-center align-items-center">

                <a class="btn btn-sm btn-warning me-3" id="editStepDtl">
                    <i class="bi bi-pencil-square"></i>
                </a>

                <a class="btn btn-sm btn-danger" id="removeStepDtl">
                    <i class="bi bi-trash"></i>
                </a>

            </td>
            <td>@(j + 1)
                
            </td>
            <td>
                @Model.TimeStudyNewStepDtlList[j].ProcessName
                <input type="hidden" asp-for="@Model.TimeStudyNewStepDtlList[j].ProcessName" value="@Model.TimeStudyNewStepDtlList[j].ProcessName"  />
                <input type="hidden" asp-for="@Model.TimeStudyNewStepDtlList[j].SeqNo" value="@(j + 1)" />
                <input type="hidden" asp-for="@Model.TimeStudyNewStepDtlList[j].StepId" />
                <input type="hidden" asp-for="@Model.TimeStudyNewStepDtlList[j].Id" />
            </td>
            <td>
                @Model.TimeStudyNewStepDtlList[j].ProcessQty
                <input type="hidden" asp-for="@Model.TimeStudyNewStepDtlList[j].ProcessQty" value="@Model.TimeStudyNewStepDtlList[j].ProcessQty"  />
            </td>
            <td class="text-end">
                @Model.TimeStudyNewStepDtlList[j].Time01
                <input type="hidden" asp-for="@Model.TimeStudyNewStepDtlList[j].Time01" value="@Model.TimeStudyNewStepDtlList[j].Time01" />
            </td>
            <td class="text-end">
                @Model.TimeStudyNewStepDtlList[j].Time02
                <input type="hidden" asp-for="@Model.TimeStudyNewStepDtlList[j].Time02" value="@Model.TimeStudyNewStepDtlList[j].Time02" />
            </td>
            <td class="text-end">
                @Model.TimeStudyNewStepDtlList[j].Time03
                <input type="hidden" asp-for="@Model.TimeStudyNewStepDtlList[j].Time03" value="@Model.TimeStudyNewStepDtlList[j].Time03" />
            </td>
            <td class="text-end">
                @Model.TimeStudyNewStepDtlList[j].Time04
                <input type="hidden" asp-for="@Model.TimeStudyNewStepDtlList[j].Time04" value="@Model.TimeStudyNewStepDtlList[j].Time04" />
            </td>
            <td class="text-end">
                @Model.TimeStudyNewStepDtlList[j].Time05
                <input type="hidden" asp-for="@Model.TimeStudyNewStepDtlList[j].Time05" value="@Model.TimeStudyNewStepDtlList[j].Time05" />
            </td>
            <td class="text-end">
                @Model.TimeStudyNewStepDtlList[j].TimeAvg
                <input type="hidden" asp-for="@Model.TimeStudyNewStepDtlList[j].TimeAvg" value="@Model.TimeStudyNewStepDtlList[j].TimeAvg" />
            </td>

        </tr>
    }
}