@* <h2>Product Schedule (Resource Timeline View)</h2> *@
@using System.Data
@model PEViewModel

@{
    int i = 0;
}

    @if (Model.operationList != null && Model.operationList.Count > 0)
    {
        <div style="max-height: calc(100vh - 250px); overflow-y: auto; position:relative">
            <table class="table table-bordered table-striped table-hover" id="mytable">
                <thead class="sticky-top">
                    <!-- Header Row -->
                    <tr>
                        <th class="text-center table-info">No.</th>
                        <th class="text-center table-info">ID</th>
                        <th class="text-center table-info">Operation Name</th>
                        <th class="text-center table-info">Description</th>
                        <th class="text-center table-info">Created By</th>
                        <th class="text-center table-info">Created Date</th>
                        <th class="text-center table-info">Action</th>
                    </tr>
                </thead>

                <tbody id="tbodyResult">
                    @foreach (OperationModel row in Model.operationList)
                    {
                        i++;
                        <tr>
                            <td class="body-text">@i</td>
                            <td>@row.Id</td>
                            <td>@row.Name</td>
                            <td>@row.Description</td>
                            <td>@(row.UpdatedBy == null ? row.CreatedBy : row.UpdatedBy)</td>
                            <td>@(row.UpdatedDt == null ? row.CreatedDt.ToString("yyyy/MM/dd") : Convert.ToDateTime(row.UpdatedDt).ToString("yyyy/MM/dd"))</td>
                            <td>
                                <button class="btn btn-sm btn-info me-2" onclick="editItem(@row.Id)">
                                    <i class="bi bi-pencil"></i> Edit
                                </button>
                                <button class="btn btn-sm btn-danger" onclick="deleteItem(@row.Id)">
                                    <i class="bi bi-trash"></i> Delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (!string.IsNullOrEmpty(Model.error_msg))
        {
            <div id="errorMsg" data-msg="@Model.error_msg"></div>
        }
    }
    else
    {
        <div class="alert alert-warning text-center">
            No data available, pls add it.
        </div>
    }
