
@model MasterVM

@{
    var languageCode = Context.Session.GetString("LanguageCode") ?? "vi";
    ViewData["Title"] = TranslationService.GetTranslation("EditRole", languageCode);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section ContentHeader {
    @await Html.PartialAsync("_Breadcrumb", ViewBag.Breadcrumbs as List<MESWebDev.DTO.BreadcrumbItemDto>)
}

<div class="app-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="bi bi-pencil me-2"></i>
                            @TranslationService.GetTranslation("Edit Role Menu Pms", languageCode) 
                        </h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit" method="post">
                            @Html.AntiForgeryToken()
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="@Model.RoleFuncPms.Id" />
                            <div class="form-group mb-2">
                                <label asp-for="@Model.RoleFuncPms.RoleName" class="control-label">@TranslationService.GetTranslation("RoleName", languageCode)</label>
                                <input asp-for="@Model.RoleFuncPms.RoleName" class="form-control" disabled />
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="@Model.RoleFuncPms.FuncId" class="control-label">@TranslationService.GetTranslation("Menu", languageCode)</label>
                                <select asp-for="@Model.RoleFuncPms.FuncId" class="form-select" asp-items="@Model.FuncSL">
                                    <option value="">@TranslationService.GetTranslation("SelectMenu", languageCode)</option>
                                </select>
                                <span asp-validation-for="@Model.RoleFuncPms.FuncId" class="text-danger"></span>
                            </div>

                            <input type="hidden" asp-for="@Model.RoleFuncPms.PmsId" />
                            <input type="hidden" asp-for="@Model.RoleFuncPms.RoleId" />
                            <div class="form-group mb-2">
                                <label asp-for="@Model.RoleFuncPms.PmsName" class="control-label">@TranslationService.GetTranslation("PermissionName", languageCode)</label>
                                <input asp-for="@Model.RoleFuncPms.PmsName" class="form-control" disabled />
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="@Model.RoleFuncPms.Note" class="control-label">@TranslationService.GetTranslation("Note", languageCode)</label>
                                <input asp-for="@Model.RoleFuncPms.Note" class="form-control" />
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="@Model.RoleFuncPms.IsActive" class="control-label">@TranslationService.GetTranslation("IsActive", languageCode)</label>
                                <input asp-for="@Model.RoleFuncPms.IsActive" type="checkbox" class="form-check-input" />
                                @* <span asp-validation-for=""@Model.RoleFuncPms.IsActive" class="text-danger"></span> *@
                            </div>

                            <div class="form-group mb-2">
                                <button type="submit" class="btn btn-warning">@TranslationService.GetTranslation("Save", languageCode)</button>
                                <a asp-action="Index" class="btn btn-secondary">@TranslationService.GetTranslation("BackToList", languageCode)</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}