@model FunctionModel

@{
    var languageCode = Context.Session.GetString("LanguageCode") ?? "vi";
    ViewData["Title"] = TranslationService.GetTranslation("EditMenu", languageCode);    
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
 
}
@section ContentHeader {
    @await Html.PartialAsync("_Breadcrumb", ViewBag.Breadcrumbs as List<MESWebDev.DTO.BreadcrumbItemDto>)
}

<div class="app-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@TranslationService.GetTranslation("EditMenu", languageCode) </h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Order">Sort Order</label>
                                <input asp-for="Order" class="form-control" type="number" />
                                <span asp-validation-for="Order" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EnName">Title (English) </label>
                                <input asp-for="EnName" class="form-control" />
                                <span asp-validation-for="EnName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ViName">Title (VN) </label>
                                <input asp-for="ViName" class="form-control" />
                                <span asp-validation-for="ViName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ParentId">@TranslationService.GetTranslation("ParentMenu", languageCode)</label>
                                <select asp-for="ParentId" class="form-control">
                                    <option value="">None</option>

                                    @{
                                        var newViewData = new ViewDataDictionary(
                                        metadataProvider: ViewContext.HttpContext.RequestServices.GetService(typeof(Microsoft.AspNetCore.Mvc.ModelBinding.IModelMetadataProvider)) as Microsoft.AspNetCore.Mvc.ModelBinding.IModelMetadataProvider,
                                        modelState: ViewContext.ModelState
                                        )
                                    {
                                    { "SelectedParentId", Model.ParentId },
                                    { "Level", 0 }
                                    };
                                    }
                                    @await Html.PartialAsync("_ParentOptions", Model.AvailableParents, newViewData)
                                </select>
                                <span asp-validation-for="ParentId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Controller">Controller</label>
                                <input asp-for="Controller" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Action">Action</label>
                                <input asp-for="Action" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="IconString">Icon (Bootstrap Icons class, e.g., bi bi-circle)</label>
                                <input asp-for="IconString" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Note">Note</label>
                                <input asp-for="Note" class="form-control" />
                            </div>

                            <div class="form-group form-check">
                                <input asp-for="IsActive" checked class="form-check-input" type="checkbox" />
                                <label asp-for="IsActive" class="form-check-label">Is Active</label>
                            </div>

                            <button type="submit" class="btn btn-primary">@TranslationService.GetTranslation("Save", languageCode)</button>
                            <a href="@Url.Action("Index", "Menu")" class="btn btn-secondary">@TranslationService.GetTranslation("Cancel", languageCode)</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}