

@model RoleDTO

@{
    var languageCode = Context.Session.GetString("LanguageCode") ?? "vi";
    ViewData["Title"] = TranslationService.GetTranslation("CreateRole", languageCode);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section ContentHeader {
    @await Html.PartialAsync("_Breadcrumb", ViewBag.Breadcrumbs as List<MESWebDev.DTO.BreadcrumbItemDto>)
}

<div class="app-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title fw-bold">
                            <i class="bi bi-person-plus me-2"></i>
                            @TranslationService.GetTranslation("AddNewRole", languageCode)</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create" method="post">
                            @Html.AntiForgeryToken()
                            <div class="form-group mb-3">
                                <label asp-for="RoleName">@TranslationService.GetTranslation("RoleName", languageCode)</label>
                                <input asp-for="RoleName" class="form-control" />
                                <span asp-validation-for="RoleName" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Note">@TranslationService.GetTranslation("RoleDescription", languageCode)</label>
                                <input asp-for="Note" class="form-control" />
                                <span asp-validation-for="Note" class="text-danger"></span>
                            </div>                            
                            <button type="submit" class="btn btn-primary">@TranslationService.GetTranslation("Create", languageCode)</button>                           
                            <a asp-action="Index" class="btn btn-secondary">@TranslationService.GetTranslation("BackToList", languageCode)</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}