@using MESWebDev.Common
@using MESWebDev.Models.VM
@using MESWebDev.Services
@inject ITranslationService TranslationService
@model PagedResult<RoleViewModel>

@{
    var languageCode = Context.Session.GetString("LanguageCode") ?? "vi";
    ViewData["Title"] = TranslationService.GetTranslation("RoleManagement", languageCode);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section ContentHeader {
    @await Html.PartialAsync("_Breadcrumb", ViewBag.Breadcrumbs as List<MESWebDev.DTO.BreadcrumbItemDto>)
}
<div class="app-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@TranslationService.GetTranslation("ListofRoles", languageCode)</h3>
                        <div class="card-tools">
                            <a href="@Url.Action("Create", "Role")" class="btn btn-primary btn-sm">
                                <i class="bi bi-plus-lg"></i> @TranslationService.GetTranslation("AddNewRole", languageCode)
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Phân trang -->
                        @await Html.PartialAsync("_SearchForm", Model)
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>@TranslationService.GetTranslation("RoleName", languageCode)</th>
                                        <th>@TranslationService.GetTranslation("Description", languageCode)</th>
                                        <th>@TranslationService.GetTranslation("CreatedAt", languageCode)</th>
                                        <th>@TranslationService.GetTranslation("Action", languageCode)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var role in Model.Items)
                                    {
                                        <tr>
                                            <td>@role.RoleName</td>
                                            <td>@role.Description</td>
                                            <td>@role.CreatedAt.ToString("yyyy/MM/dd")</td>
                                            <td>
                                                <a href="@Url.Action("Edit", "Role", new { id = role.RoleId })" class="btn btn-warning btn-sm">
                                                    <i class="bi bi-pencil"></i> @TranslationService.GetTranslation("Edit", languageCode)
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@role.RoleId" class="btn btn-sm btn-danger">@TranslationService.GetTranslation("Delete", languageCode)</a>
                                               @*  <form asp-action="Delete" asp-route-id="@role.RoleId" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this menu?');">
                                                    @Html.AntiForgeryToken()
                                                    <button type="submit" class="btn btn-danger btn-sm">
                                                        <i class="bi bi-trash"></i> @TranslationService.GetTranslation("Delete", languageCode)
                                                    </button>
                                                </form> *@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- Phân trang -->
                        @await Html.PartialAsync("_Pagination", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>