@using MESWebDev.Models.Setting
@model ProdPlanViewModel
@{
    int i = 0;
}
<form id="fAdd" method="post">
    <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header table-success">
                    <h5 class="modal-title">
                        <i class="bi bi-plus-circle"></i>
                        @TranslationService.Trans("Add")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-success bg-opacity-25">

                    <div class="row g-2">
                        <div class="row g-2">
                            <div class="col-4">@TranslationService.Trans("MachineCode")</div>
                            <div class="col-8">
                                <select class="form-select" asp-for="@Model.SMTMachineConditionModel.MachineCode" asp-items="@Model.SLI_Machine" required>
                                    <option></option>
                                </select>
                            </div>

                            <div class="col-4">@TranslationService.Trans("ChipMin")</div>
                            <div class="col-8"><input type="number" class="form-control _ChipMin" asp-for="@Model.SMTMachineConditionModel.ChipMin" /></div>

                            <div class="col-4">@TranslationService.Trans("ChipMax")</div>
                            <div class="col-8"><input type="number" class="form-control _ChipMax" asp-for="@Model.SMTMachineConditionModel.ChipMax" /></div>

                            <div class="col-4">@TranslationService.Trans("Priority")</div>
                            <div class="col-8"><input type="number" class="form-control" asp-for="@Model.SMTMachineConditionModel.Priority" /></div>

                            <div class="col-4">@TranslationService.Trans("Remark")</div>
                            <div class="col-8"><input type="text" class="form-control" asp-for="@Model.SMTMachineConditionModel.Remark" /></div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a id="btnAdd" onclick="Add()" class="btn btn-sm btn-info">
                        <i class="bi bi-floppy"></i>
                        @TranslationService.Trans("save")
                    </a>
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                        <i class="fa-regular fa-circle-xmark"></i>
                        @TranslationService.Trans("close")
                    </button>
                </div>
        </div>
    </div>
</div>
</form>
