@using MESWebDev.Common
@using MESWebDev.Models.VM
@using MESWebDev.Services
@inject ITranslationService TranslationService
@model PagedResult<MenuViewModel>

@{
    var languageCode = Context.Session.GetString("LanguageCode") ?? "vi";
    ViewData["Title"] = TranslationService.GetTranslation("MenuManagement", languageCode);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section ContentHeader {
    @await Html.PartialAsync("_Breadcrumb", ViewBag.Breadcrumbs as List<MESWebDev.DTO.BreadcrumbItemDto>)
@* <div class="app-content-header">
    <div class="container-fluid">
        <div class="row">         
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Admin")">@TranslationService.GetTranslation("Home", languageCode)</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@TranslationService.GetTranslation("MenuManagement", languageCode)</li>
                </ol>
            </div>
        </div>
    </div>
</div> *@
}

<div class="app-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@TranslationService.GetTranslation("ListOfMenus", languageCode)</h3>
                        <div class="card-tools">
                            <a href="@Url.Action("Create", "Menu")" class="btn btn-primary btn-sm">
                                <i class="bi bi-plus-lg"></i> @TranslationService.GetTranslation("AddNewMenu",languageCode)
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Phân trang -->
                        @await Html.PartialAsync("_SearchForm", Model)
                        @await Html.PartialAsync("_MenuTable", Model.Items)
                        <!-- Phân trang -->
                        @await Html.PartialAsync("_Pagination", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>