
@model ProdPlanViewModel
@{
    int i = 0;
}

<form id="fEdit" method="post">
    @Html.AntiForgeryToken()
    <div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">@* " modal-lg"> *@
            <div class="modal-content">
                <div class="modal-header table-success">
                    <h5 class="modal-title">
                        <i class="bi bi-pencil-square"></i>
                        @TranslationService.Trans("Edit")
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body bg-warning bg-opacity-25">

                    <input type="hidden" asp-for="@Model.SMTLineMachineDataModel.Id" />
                    <div class="row g-2">

                        <div class="col-4">@TranslationService.Trans("LineCode")</div>
                        <div class="col-8">
                            <select class="form-select" asp-for="@Model.SMTLineMachineDataModel.LineCode" asp-items="@Model.SLI_Line" required>
                                <option></option>
                            </select>
                        </div>
                        <div class="col-4">@TranslationService.Trans("MachineCode")</div>
                        <div class="col-8">
                            <select class="form-select" asp-for="@Model.SMTLineMachineDataModel.MachineCode" asp-items="@Model.SLI_Machine" required>
                                <option></option>
                            </select>
                        </div>

                        <div class="col-4">@TranslationService.Trans("UsagePercent")</div>
                        <div class="col-8"><input type="number" class="form-control _ChipMin" asp-for="@Model.SMTLineMachineDataModel.UsagePercent" /></div>

                        <div class="col-4">@TranslationService.Trans("Remark")</div>
                        <div class="col-8"><input type="text" class="form-control _ChipMin" asp-for="@Model.SMTLineMachineDataModel.Remark" /></div>
                  
                    </div>
                
                </div>
                <div class="modal-footer">
                    <a id="btnEdit" onclick="Edit()" class="btn btn-sm btn-info">
                        <i class="bi bi-floppy"></i>
                        @TranslationService.Trans("save")
                    </a>
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                        <i class="fa-regular fa-circle-xmark"></i>
                        @TranslationService.Trans("close")
                    </button>
                </div>
            </div>

        </div>
    </div>

</form>
